/* ./src/index.css */

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/HelveticaNeueHeavy.otf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/HelveticaNeueBold.otf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/HelveticaNeueLight.otf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/HelveticaNeueMedium.otf') format('truetype');
}
